{% extends 'base.html' %}

{% block title %}
  SGE - Delete {{object.title}}
{% endblock title %} 

{% block content %}
  <div class="container mt-4">
    <h3 class="display-6"></h3>
    <div class="card">
      <div class="card-body">
        <p class="card-tex">Tem certeza de que deseja excluir a Produto <strong>{{object.name}}</strong>?</p>
        <form method="post">
          {% csrf_token %}
          <button type="submit" class="btn btn-danger" >Deletar</button>
        </form>
        <a href="{% url 'product_list' %}" class="btn btn-secondary mt-3">Cancelar e Voltar para a Lista de Produtos</a>
      </div>
    </div>
  </div>
{% endblock content %}

