{% extends 'base.html' %}

{% block title %}
  SGE - update {{object.tile}}
{% endblock title %} 

{% block content %}
  <div class="container mt-4">
    <h3 class="display-6">Editar Produto</h3>
    <div class="card">
      <div class="card-body">
        <form action="" method="post" class="form">
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit" class="btn btn-primary">Salva Produto</button>
        </form>
      </div>
    </div>
    <a href="{% url 'product_list' %}" class="btn btn-secondary mt-3">Cancelar e Voltar para a Lista de Produtos</a>
  </div>
{% endblock content %}
