
  <div class="container mt-4">
    {% comment %} <h3 class="display-6">Editar Marca</h3> {% endcomment %}
    <div class="card">
      <div class="card-body">
        <form action="" method="post" class="form">
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit" class="btn btn-primary">Salva Marca</button>
        </form>
      </div>
    </div>
    {% comment %} <a href="{% url 'brand_list' %}" class="btn btn-secondary mt-3">Cancelar e Voltar para a Lista de Marcas</a> {% endcomment %}
  </div>
